<div class="card-footer text-muted">
  <p>Alguns hábitos têm o poder de iniciar uma reação em cadeia, mudando outros hábitos conforme eles avançam através de uma
  organização. Ou seja, alguns hábitos são mais importantes que outros na reformulação de empresas e vidas. Estes são os
  “hábitos angulares” e eles podem influenciar o modo como as pessoas trabalham, comem, se divertem, vivem, gastam e se
  comunicam. Os hábitos angulares dão início a um processo que, ao longo do tempo, transforma tudo.
</p>
  <p>
    <strong>Charles Duhigg</strong>
  </p>
</div>
