
<p-table [value]="orcamentos">
    <ng-template pTemplate="header">
        <tr>
            <th>Tipo de Gasto</th>
            <th>Valor Limite</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orcamento>
        <tr>
            <td>{{orcamento.tipo}}</td>
            <td>{{orcamento.valor}}</td>
            <td>
                <i class="pi pi-trash" style="font-size: 1rem"></i> 
                <i class="pi pi-pencil" style="font-size: 1rem"></i>
            </td>
        </tr>
    </ng-template>
</p-table>