<div class="col-md-12 center">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card center rounded-circle" alt="img-login"/>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">

            <p class="social-login center">
                <a href="{{ googleURL }}" class="ml-2">
                    <img alt="Login with Google" src="/assets/google.png" class="btn-img" width="600" height="140">
                </a>
            </p>
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">Bem vindo {{currentUser.displayName}}</div>

</div>