<div *ngIf="dataRadar.labels.length > 2">
    <br />
        <h1 class="text-center">Radar de Despesas:</h1>
    <br />

    <app-radar-chart [data]="dataRadar"></app-radar-chart>

    <br />
    <h1 class="text-center">Gráfico dos gastos:</h1>
    <br />

    <app-bar-chart [data]="dataBar"></app-bar-chart>
</div>

<div *ngIf="2 >= dataRadar.labels.length" >
    <br />
    <h1 class="text-center">Sem dados para esse mês</h1>
    <p class="text-center">Necessário ao menos 3 tipos de gastos para gerar gráficos.</p>
</div>