/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code");

* {
  font-family: Fira-Code !important;
}

:root {
  /* Colors */
  --foreground-default: #5770ff;
  --foreground-secondary: #98abfd;
  --foreground-tertiary: #90c4ff;
  --foreground-quaternary: #f4faff;
  --foreground-light: #d3feff;

  --background-default: #7f69fd;
  --background-secondary: #d1c1ff;
  --background-tertiary: #c8a4f8;
  --background-light: #ffffff;

  --primary-default: #ffffff;
  --primary-dark: #000000;
  --primary-light: #b3b3b3;
  --secudary-default: #7f69fd;
  --secudary-light: #d1c1ff;
  --secudary-dark: #6b3aff;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #ffcecc;

  --sucess-default: rgb(0, 255, 55);

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

.content {
  min-width: 100%;
  min-height: 600px;
}

.navbar {
  background-color: var(--background-default) !important;
}
.navbar a {
  color: var(--primary-default);
  padding: 5px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--primary-light);
  padding: 5px;
}

.card-footer {
  background-color: var(--background-default);
}
.card-footer p {
  color: var(--primary-default);
}

.tabviewpanel {
  padding: 10px;
}

.tabviewpanel li a {
  padding: 10px;
  text-decoration: none;
  color: var(--secudary-default);
}
.tabviewpanel li a:hover {
  color: var(--secudary-dark);
}
