<p>orcamento-novo works!</p>
<form #orcamentoForm="ngForm" (ngSubmit)="salvar(orcamentoForm)">

    <div class="form-group">
        <label class="form-control-label">Tipo de Gasto ou Renda</label>
        <select name="form-control" name="tipo" ngModel>
            <option *ngFor="let tipo of tipos" value="{[tipo.id}}">{{tipo.tipo}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-control-label">Valor limite ou esperado</label>
        <input type="number">
    </div>

    <button type="submit">Salvar</button>
</form>